<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>"><br>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
      <p>※アイキャッチ画像は初回登録時は本アプリのデフォルト画像が充てられています。アイキャッチ画像を変更したい場合は上記の編集ボタンより編集が可能です</p>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <!-- 変数@likesに対してeach文を用いてください -->
    <% @user.records.each do |record| %>
      <!-- 変数postを定義してください -->
      <div class="records-index-item">
        <div class="record-left">
          <img src="<%= "/user_images/#{record.user.image_name}" %>">
        </div>
        <div class="record-right">
          <div class="record-user-name">
            <%= link_to(record.user.name, "/users/#{record.user.id}") %>
          </div>
          <%= link_to(record.task, "/posts/#{record.id}") %>
        </div>
      </div>
    <!-- each文のendを追加してください -->
    <% end %>
  </div>
</div>
