<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>タスマネ</title>
    <%= favicon_link_tag "tasumane.png" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">タスマネ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if @current_user %>
              <li class="nav-item">
                <%= link_to("ユーザー:#{@current_user.name}","/users/#{@current_user.id}/likes")%>
              </li>
              <li class="nav-item">
                <%= link_to("ユーザー一覧","/users/index")%>
              </li>
              <li class="nav-item">
                <%= link_to("記録一覧","/posts/index")%>
              </li>
              <li class="nav-item">
                <%= link_to("記録する","/posts/new")%>
              </li>
              <li class="nav-item">
                <%= link_to("ログアウト","/logout",{method: :post})%>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to("新規登録","/users/new")%>
              </li>
              <li class="nav-item">
                <%= link_to("ログインする","/login")%>
              </li>
              <li class="nav-item">
                <%= link_to("about me","/about")%>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>

        </div>
      <% end %>

    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
